{% extends 'base.html' %}

{% block title 'Home' %}

{% block main %}
		<div id="quizs">
			<h3>My Quizzes</h3>
{% if quizs is empty %}
			<strong>Y u no create quizzess?!</strong><br />
			<img src="images/pearcat.jpg" />
{% else %}
			<ul>
{% for quiz in quizs %}
				<li>{{ quiz.title }}
					<a href="edit.php?id={{ quiz.id }}" />Edit</a>
					<a href="delete.php?id={{ quiz.id }}" />Delete</a>
					<a href="statistics.php?id={{ quiz.id }}" />Statistics</a>
				</li>
{% endfor %}
			</ul>
{% endif %}
		</div>
{% endblock %}