{% extends 'base.html' %}

{% block title 'Home' %}

{% block main %}
		<h3>Create Quiz</h3>
		<div>
			Title:<input id="title" type="text" name="title" value="{{ quiz.title }}" />
			<input type="submit" value="Create" id="create" />
		</div>
		<h3>My Quizzes</h3>
		<div id="quizs">
		</div>
			
{% if quizs is empty %}
			<strong>Y u no create quizzess?!</strong><br />
			<img src="images/pearcat.jpg" />
{% else %}
			<ul>
{% for quiz in quizs %}
				<li>{{ quiz.title }}
					<a href="editQuiz.php?id={{ quiz.id }}" />Edit</a>
					<a href="editQuiz.php?id={{ quiz.id }}" />Delete</a>
					<a href="statistics.php?id={{ quiz.id }}" />Statistics</a>
				</li>
{% endfor %}
			</ul>
{% endif %}
		</div>
{% endblock %}